.costPanel {
  display: flex;
  justify-content: space-between;
  font-family: $MainFontFamilyBold;
  line-height: 21px;
  margin-bottom: 15px;
  p {
    margin: 0;
  }

  .cost {
    p {
      color: $titleColor;
    }
  }

  .count {
    display: flex;
    align-items: center;
    img {
      cursor: pointer;
    }

    .number {
      padding: 0 15px;
      input {
          text-align: center;
          width: 45px;
          border: none;
      }
    }
  }
}
