@font-face {
    font-family: 'PTSansRegular';
    src: url('../../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../../fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansItalic';
  src: url('../../fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
