footer {
  background-color: #2C373E;
  padding: 35px 0;

  .copy {
    font-size: 0.875rem;
    line-height: 18px;
    color: #FFFFFF;
  }

  .agree {
    a {
      text-decoration: none;
      font-size: 0.75rem;
      line-height: 16px;
      color: #FFFFFF;
    }
  }

  .phone {
    text-align: right;

    a {
      color: #FFFFFF;
      font-size: 0.875rem;
      line-height: 18px;
      text-decoration: none;
    }
  }

  .social {
    text-align: right;

    ul {
      display: block;
      padding: 0;
      margin: 15px 0 0 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 3px;
        $count: 0;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) a {
            @if $i > 1 {
              background: url("/images/social.svg") no-repeat #{$count}% 50%;
            } @else {
              background: url("/images/social.svg") no-repeat 0 50%;
            }
          }
          $count: $count + 34;
        }

        a {
          display: block;
          height: 33px;
          width: 33px;
          text-decoration: none;
        }
      }
    }
  }
}
