.navigation {
  @extend %block-padding;

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;

    .menu-item {
      transform: translate(15px, 15px);
      background: #F4F7FA;

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }

      div {
        transform: translate(-15px, -15px);
        height: 100%;
        width: 100%;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) div {
          background: url('/images/menu-item-#{$i}.png') no-repeat top center #FFFFFF;
          @if $i > 1 {
            background-size: 100% 60%;
            -webkit-background-size: 100% 60%;
            -moz-background-size: 100% 60%;
            -o-background-size: 100% 60%;
          }
          @if $i == 1 {
            background-size: contain;
          }
          @if $i == 2 {
            border-bottom: 4px solid #FFCB05
          } @else if $i == 3 {
            border-bottom: 4px solid #00AAAD;
          } @else if $i == 4 {
            border-bottom: 4px solid #C9DB49;
          }
        }
      }
      flex: 0 0 auto;
      margin: 20px 15px;
      height: 225px;
      width: 225px;

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;
        padding: 0 20px 20px 20px;
        height: 100%;
        width: 100%;
      }

      p {
        margin: 6px 0;
        line-height: 12px;
      }

      .title {
        font-family: $MainFontFamilyBold;
        font-size: 1.3125rem;
        color: $titleColor;
      }

      .text {
        font-size: 0.875rem;
        color: $textColor;
      }

      &:nth-child(1) {
        .title {
          color: #FFFFFF;
        }

        .text {
          color: #fff;
        }
      }
    }
  }
}
